@font-face {
  font-family: 'InterTight';
  src: url('/fonts/InterTight-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'InterTight Italic';
  src: url('fonts/InterTight-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}

html {
    font-family: 'InterTight', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mt-8 {
    margin-top: 2rem;
}

.mt-10 {
    margin-top: 2.5rem;
}

.mt-12 {
    margin-top: 3rem;
}




.w-6 {
    width: 1.5rem;
}
  
.w-8 {
    width: 2rem;
}

.w-12 {
    width: 3rem;
}

.w-16 {
    width: 4rem;
}

.w-24 {
    width: 6rem;
}
  
.w-36 {
    width: 9rem;
}
  