<div class="bio-box text-lg text-neutral-100 dark:text-neutral-900">
  <h2 class="mt-8 text-2xl font-bold">About Me</h2>
  <article class="mt-6 flex max-w-prose flex-row">
    <div class="flex-none pe-4 sm:pe-6 ">
      <a href="https://gondolamarkets.com/" aria-label="Learn more about Gondola" target="_blank">
        <img alt="" class="w-16 rounded-md sm:w-8" src="img/gondola.png" loading="lazy">
      </a>
    </div>
    <div>
        <h3 class="flex items-center text-xl font-semibold">
            <a class="text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral" href="https://gondolamarkets.com"  aria-label="Learn more about Gondola"  target="_blank">
              Founder @ Gondola
            </a>
        </h3>
        <div class="text-lg text-neutral-500 dark:text-neutral-400">
          On a mission to democratize access to venture-backed startup equity
        </div>
    </div>
  </article>
  <article class="mt-8 flex max-w-prose flex-row">
    <div class="flex-none pe-4 sm:pe-6 ">
      <a href="https://river.com/" aria-label="Learn more about River" target="_blank">
        <img alt="" class="w-16 rounded-md sm:w-8" src="img/river.png" loading="lazy">
      </a>
    </div>
    <div>
        <h3 class="flex items-center text-xl font-semibold">
            <a class="text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral" href="https://river.com" aria-label="Learn more about River" target="_blank">
              Co-Founder @ River
            </a>
        </h3>
        <div class="text-lg text-neutral-500 dark:text-neutral-400">
          Co-Founded <a href="https://river.com/" target="blank" class="decoration-primary-500 hover:underline hover:underline-offset-2">River.com</a>, a Series B-stage Bitcoin-focused financial institution serving high-net-worth retail investors
        </div>  
    </div>
  </article>
</div>