<div class="bio-box text-lg text-neutral-100 dark:text-neutral-900">
  <h2 class="mt-10 text-2xl font-bold">Angel Investments</h2>
  <article class="mt-6 flex max-w-prose flex-row">
    <div class="flex-none pe-4 sm:pe-6 ">
      <a href="https://ellis.com/" aria-label="Learn more about Ellis" target="_blank">
        <img alt="" class="w-16 rounded-md sm:w-8" src="img/ellis.png" loading="lazy">
      </a>
    </div>
    <div>
        <h3 class="flex items-center text-xl font-semibold">
            <a class="text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral" href="https://ellis.com"  aria-label="Learn more about Ellis" target="_blank">
              Ellis
            </a>
        </h3>
        <div class="text-lg text-neutral-500 dark:text-neutral-400">
          An immigration-tech company pioneering legal solutions for aspiring immigrants, law firms, and employers
        </div>
    </div>
  </article>
  <article class="mt-8 flex max-w-prose flex-row">
    <div class="flex-none pe-4 sm:pe-6 ">
      <a href="https://lava.xyz/" aria-label="Learn more about Lava" target="_blank">
        <img alt="" class="w-16 rounded-md sm:w-8" src="img/lava.png" loading="lazy">
      </a>
    </div>
    <div>
        <h3 class="flex items-center text-xl font-semibold">
            <a class="text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral" href="https://lava.xyz" aria-label="Learn more about Lava" target="_blank">
              Lava
            </a>
        </h3>
        <div class="text-lg text-neutral-500 dark:text-neutral-400">
          A non-custodial Bitcoin wallet with built-in Bitcoin-backed loans and enhanced privacy
        </div>  
    </div>
  </article>
</div>